<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hashtech.mapper.CompanyInfoMapper">

    <select id="hasExistUscc"
            resultType="java.lang.Boolean">
        select 1
        from company_info
        <where>
            <if test="uscc != null and uscc != '' ">
                AND uscc = #{uscc}
            </if>
            <if test="id != null and id != '' ">
                AND id != #{id}
            </if>
            AND del_flag = 0
        </where>
        limit 1
    </select>

    <select id="findById"
            resultType="com.hashtech.entity.CompanyInfoEntity">
        select *
        from company_info
        where id = #{id}
          and del_flag = 0
    </select>

    <select id="findByUsccAndCorpNm"
            resultType="com.hashtech.entity.CompanyInfoEntity">
        select *
        from company_info
        <where>
            <if test="uscc != null and uscc != '' ">
                AND uscc = #{uscc}
            </if>
            <if test="corpNm != null and corpNm != '' ">
                AND corp_nm != #{corpNm}
            </if>
            <if test="companyInfoId != null and companyInfoId != '' ">
                AND id != #{companyInfoId}
            </if>
            AND del_flag = 0
        </where>
        limit 1
    </select>

    <select id="getCompanyIdList"
            resultType="java.lang.String">
        SELECT ci.id FROM company_info ci
        INNER JOIN company_tag cg ON ci.id=cg.company_info_id
        <where>
            <if test="null!=request.tagId and request.tagId != '' ">
                AND cg.`tag_id` =#{request.tagId}
            </if>
            <if test="null!=request.uscc and request.uscc != '' " >
                AND ci.`uscc` LIKE CONCAT('%',#{request.uscc},'%')
            </if>
            <if test="null!=request.corpNm and request.corpNm != '' ">
                AND ci.`corp_nm` LIKE CONCAT('%',#{request.corpNm},'%')
            </if>
            AND ci.del_flag = 0 AND cg.del_flag = 0
        </where>

    </select>
</mapper>
