<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hashtech.mapper.CompanyInfoMapper">

    <select id="hasExistUscc"
            resultType="java.lang.Boolean">
        select 1
        from company_info
        <where>
            <if test="uscc != null and uscc != '' ">
                AND uscc = #{uscc}
            </if>
            <if test="id != null and id != '' ">
                AND id != #{id}
            </if>
            AND del_flag = 0
        </where>
        limit 1
    </select>

    <select id="findById"
            resultType="com.hashtech.entity.CompanyInfoEntity">
        select *
        from company_info
        where id = #{id}
          and del_flag = 0
    </select>

    <select id="findByUsccAndCorpNm"
            resultType="com.hashtech.entity.CompanyInfoEntity">
        select *
        from company_info
        <where>
            <if test="uscc != null and uscc != '' ">
                AND uscc = #{uscc}
            </if>
            <if test="corpNm != null and corpNm != '' ">
                AND corp_nm != #{corpNm}
            </if>
            <if test="companyInfoId != null and companyInfoId != '' ">
                AND id != #{companyInfoId}
            </if>
            AND del_flag = 0
        </where>
        limit 1
    </select>

    <select id="getCompanyIdList"
            resultType="java.lang.String">
        SELECT ci.id FROM company_info ci
        INNER JOIN company_tag cg ON ci.id=cg.company_info_id
        <where>
            <if test="null!=request.tagId and request.tagId != '' ">
                AND cg.`tag_id` =#{request.tagId}
            </if>
            <if test="null!=request.uscc and request.uscc != '' " >
                AND ci.`uscc` LIKE CONCAT('%',#{request.uscc},'%')
            </if>
            <if test="null!=request.corpNm and request.corpNm != '' ">
                AND ci.`corp_nm` LIKE CONCAT('%',#{request.corpNm},'%')
            </if>
            AND ci.del_flag = 0 AND cg.del_flag = 0
        </where>

    </select>

    <select id="selectByRequest"
            resultType="com.hashtech.entity.CompanyInfoEntity">
        SELECT  ci.* FROM company_info ci
        <where> 1=1 AND ci.del_flag=0
            <if test="null!=request.industrialName and ''!=request.industrialName">
                AND ci.id IN (
                SELECT icr.company_info_id FROM industrial_company_relation icr
                INNER JOIN company_info ci ON icr.company_info_id=ci.id
                INNER JOIN industrial i ON i.id=icr.industrial_id
                WHERE i.name LIKE CONCAT('%',#{request.industrialName},'%') AND i.del_flag = 0 AND icr.del_flag = 0
                )
             </if>
            <if test="null!=request.tagId and request.tagId != ''">
                AND ci.id IN (
                SELECT ct.company_info_id FROM company_tag ct
                INNER JOIN company_info ci ON ct.company_info_id=ci.id
                WHERE ct.tag_id = #{request.tagId} AND ct.del_flag = 0
                )
            </if>
            <if test="null!=request.industrialId and request.industrialId != ''">
                AND ci.id IN (
                SELECT icr.company_info_id FROM industrial_company_relation icr
                WHERE icr.industrial_id = #{request.industrialId} AND icr.del_flag = 0
                )
            </if>
            <if test="null!=request.uscc and request.uscc != ''">
                AND ci.uscc LIKE CONCAT('%',#{request.industrialName},'%')
            </if>
            <if test="null!=request.corpNm and request.corpNm != ''">
                AND ci.corp_nm LIKE CONCAT('%',#{request.corpNm},'%')
            </if>
            order by ci.update_time desc , ci.tag_num desc limit #{request.pageStart},#{request.pageSize}
        </where>
    </select>

    <select id="selectCountByRequest"
            resultType="java.lang.Long">
        SELECT  count(*) FROM company_info ci
        <where> 1=1 AND ci.del_flag=0
            <if test="null!=request.industrialName and ''!=request.industrialName">
                AND ci.id IN (
                SELECT icr.company_info_id FROM industrial_company_relation icr
                INNER JOIN company_info ci ON icr.company_info_id=ci.id
                INNER JOIN industrial i ON i.id=icr.industrial_id
                WHERE i.name LIKE CONCAT('%',#{request.industrialName},'%') AND i.del_flag = 0 AND icr.del_flag = 0
                )
            </if>
            <if test="null!=request.tagId and request.tagId != ''">
                AND ci.id IN (
                SELECT ct.company_info_id FROM company_tag ct
                INNER JOIN company_info ci ON ct.company_info_id=ci.id
                WHERE ct.tag_id = #{request.tagId} AND ct.del_flag = 0
                )
            </if>
            <if test="null!=request.industrialId and request.industrialId != ''">
                AND ci.id IN (
                SELECT icr.company_info_id FROM industrial_company_relation icr
                WHERE icr.industrial_id = #{request.industrialId} AND icr.del_flag = 0
                )
            </if>
            <if test="null!=request.uscc and request.uscc != ''">
                AND ci.uscc LIKE CONCAT('%',#{request.industrialName},'%')
            </if>
            <if test="null!=request.corpNm and request.corpNm != ''">
                AND ci.corp_nm LIKE CONCAT('%',#{request.corpNm},'%')
            </if>
        </where>
    </select>
</mapper>
