<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hashtech.mapper.TagCategoryMapper">

    <resultMap id="tagCategoryBaseMap" type="com.hashtech.web.result.TagCategoryResult">
        <id property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="pid" column="pid" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="level" column="level" javaType="java.lang.Short" jdbcType="SMALLINT"/>
        <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="describe" column="describe" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" javaType="java.lang.Byte" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="updateUserId" column="update_user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryPageList" resultMap="tagCategoryBaseMap" parameterType="com.hashtech.web.request.TagListRequest">
        SELECT tc.id, tc.`name`, tc.`describe`, tc.create_time, tc.create_by FROM tag_category tc

        <where> 1=1 AND tc.del_flag=0
            <if test="null!=categoryName and ''!=categoryName"> AND tc.`name` LIKE CONCAT('%',#{categoryName},'%') </if>
            <if test="null!=name or null!=state or null!=lastUsedTimeBegin or null!=lastUsedTimeEnd">

                AND tc.id IN (
                  SELECT tcr.tag_category_id FROM tag_category_relation tcr
                  INNER JOIN tag t ON tcr.tag_id=t.id
                  WHERE tcr.del_flag = 0 AND t.del_flag = 0
                  <if test="null!=name"> AND t.`name` LIKE CONCAT('%',#{name},'%')  </if>
                  <if test="null!=state"> AND t.`state` = #{state}  </if>
                  <if test="null!=lastUsedTimeBegin"> AND t.last_used_time &gt;= #{lastUsedTimeBegin}  </if>
                  <if test="null!=lastUsedTimeEnd"> AND t.last_used_time &lt;= #{lastUsedTimeEnd}  </if>
                )
            </if>
        </where>
        <if test="null!=sort and null!=sortField"> ORDER BY ${sortField} ${sort}</if>
    </select>

    <update id="batchUpdateLevel" parameterType="java.util.Map">
        UPDATE tag_category SET level =
        CASE id
        <foreach collection="param.entrySet()" item="value" index="key">
            WHEN #{key} THEN #{value}
        </foreach>
        END
        WHERE del_flag=0 AND  id IN
        <foreach collection="param.entrySet()" item="value" index="key" open="(" close=")" separator=",">
            #{key}
        </foreach>
    </update>
</mapper>
