<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hashtech.mapper.TagCategoryRelationMapper">

    <resultMap id="tagCategoryBaseMap" type="com.hashtech.web.result.TagCategoryRelationResult">
        <id property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="tagCategoryId" column="tag_category_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="tagId" column="tag_id" javaType="java.lang.Short" jdbcType="SMALLINT"/>
        <result property="delFlag" column="del_flag" javaType="java.lang.Byte" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryCount" resultType="java.lang.Integer" parameterType="com.hashtech.web.request.TagCategoryRelationRequest">
        SELECT COUNT(1) FROM tag_category_relation
        <where> 1=1 AND del_flag=0
            <if test="null!=tagCategoryId"> AND tag_category_id=#{tagCategoryId} </if>
            <if test="null!=tagId"> AND tag_id=#{tagId} </if>
        </where>
    </select>

    <update id="deletes" parameterType="com.hashtech.web.request.TagCategoryRelationRequest">
        UPDATE tag_category_relation SET del_flag=1
        <where> 1=1 AND del_flag=0 AND
          <trim prefixOverrides="AND">
              <if test="null!=tagCategoryId"> AND tag_category_id=#{tagCategoryId} </if>
          </trim>
        </where>
    </update>
</mapper>
